{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",

  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",

  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,

  "proseWrap": "preserve",
  "endOfLine": "lf",

  "embeddedLanguageFormatting": "auto",
  "objectWrap": "preserve"
}
