/* ------------------------------
 *  Heading
 */

.Heading {
  font-weight: var(--font-weight-bold);
}

:where(.Heading).--Level1 {
  margin-block-end: var(--spacing-lg);
  font-size: var(--font-size-heading-lv1);
}

:where(.Heading).--Level2 {
  margin-block-end: var(--spacing-md);
  font-size: var(--font-size-heading-lv2);
}

:where(.Heading).--Level3 {
  margin-block-end: var(--spacing-md);
  font-size: var(--font-size-heading-lv3);
}

/* ------------------------------
 *  Text
 */

.Text:not(:first-child) {
  margin-block-start: var(--spacing-sm);
}

:where(.Text).--Sm {
  font-size: var(--font-size-sm);
}

:where(.Text).--Lg {
  font-size: var(--font-size-lg);
}

:where(.Text).--Error {
  color: var(--error-color);
}

/* ------------------------------
 *  Text Block
 */

.TextBlock:not(:first-child) {
  margin-block-start: var(--spacing-md);
}

:where(.TextBlock).--SpaceLg:not(:first-child) {
  margin-block-start: var(--spacing-lg);
}

/* ------------------------------
 *  Button
 */

.Button {
  display: block flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  inline-size: 100%;
  padding: var(--spacing-sm);
  background-color: var(--background-color-surface);
  border: 2px solid var(--border-color-base);
  border-radius: var(--border-radius-md);
  transition: opacity 150ms ease-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

:where(.Button).--Primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

:where(.Button).--Secondary {
  background-color: var(--primary-color-light);
  border: 2px solid var(--primary-color);
}

@media (hover: hover) and (pointer: fine) {
  .Button:not(:disabled):hover {
    opacity: .85;
  }
}

.Button:focus-visible {
  outline: 3px solid var(--focus-color);
  outline-offset: 3px;
}

.Button:disabled {
  opacity: .5;
}

.Button__icon {
  inline-size: var(--icon-block-size);
  block-size: var(--icon-block-size);
  flex-shrink: 0;
  stroke: var(--primary-color);
}

:where(.Button.--Primary) .Button__icon {
  stroke: var(--primary-color-light);
}

.Button__text {
  color: var(--primary-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

:where(.Button.--Primary) .Button__text {
  color: var(--primary-color-light);
}

/* ------------------------------
 *  Column
 */

.ColumnLayout {
  display: block grid;
  gap: var(--spacing-md);
  
  @media (min-width: 64.0625rem) {
    gap: var(--spacing-lg);
  }
}

.ColumnLayout:not(:first-child) {
  margin-block-start: var(--spacing-md);
  
  @media (min-width: 64.0625rem) {
    margin-block-start: var(--spacing-lg);
  }
}

:where(.ColumnLayout).--MaxCol2,
:where(.ColumnLayout).--MaxCol3,
:where(.ColumnLayout).--MaxCol4 {
  grid-template-columns: 1fr;
}

@media (min-width: 37rem) {
  :where(.ColumnLayout).--MaxCol2,
  :where(.ColumnLayout).--MaxCol3,
  :where(.ColumnLayout).--MaxCol4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 56rem) {
  :where(.ColumnLayout).--MaxCol3,
  :where(.ColumnLayout).--MaxCol4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 75rem) {
  :where(.ColumnLayout).--MaxCol4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

:where(.ColumnLayout).--Flexible {
  display: block flex;
  flex-wrap: wrap;
}